@font-face {
    font-family: 'SeoulNamsanB';
    src: url('./fonts/서울남산 장체B.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'SeoulNamsanM';
    src: url('./fonts/서울남산 장체M.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'SeoulNamsanL';
    src: url('./fonts/서울남산 장체L.ttf') format('truetype');
    font-weight: lighter;
}

* {
    font-family: 'SeoulNamsanM';
    box-sizing: border-box;
    touch-action: manipulation;
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #e0e0e0;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "controllers model";
    column-gap: 10rem;
    align-items: center;
}

#controllers {
    grid-area: controllers;
    justify-self: end;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    overflow-x: hidden;
}

#model {
    grid-area: model;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 49px 49px 98px #bebebe,
        -49px -49px 98px #ffffff;
}

.tray__slide {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    cursor: pointer;
}

.tray__swatch {
    transition: 0.1s ease-in;
    height: 50px;
    min-width: 50px;
    flex: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}
/*
.tray__swatch:nth-child(5n+5) {
    margin-right: 20px;
}
*/
